@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  background: black;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
}
.header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.header__logo img {
  width: 160px;
  vertical-align: middle;
}
.header::after {
  content: "";
  display: block;
  clear: both;
}
.header__nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.header__nav li {
  display: inline-block;
  margin: 0 20px 0 0;
}
.header__nav li:first-child i {
  color: crimson;
}
.header__nav li form {
  display: inline-block;
}
.header__nav li form input.hide {
  width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.logout-btn {
  text-decoration: none;
  color: #fff;
}
.genre-list {
  margin-bottom: 40px;
}
.genre-list li {
  display: inline-block;
  width: 19.5%;
  padding: 10px;
  text-align: center;
}
.main section {
  margin-bottom: 20px;
}
.main section h2 {
  margin-bottom: 30px;
}
