/* .search {
  margin: 0 auto;
  width: 500px;
} */

/* #search-bar {
  outline: none;
} */
@import url(./reset.css);

/* header */
body {
  background: black;
  color: rgb(236, 236, 236);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.header__logo img {
  width: 160px;
  vertical-align: middle;
}

.header::after {
  content: "";
  display: block;
  clear: both;
}

.header__nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.header__nav li {
  float: left;
  margin: 10px 22px 0 0;
}

.header__nav li:first-child {
  transform: translate(0, 2px);
}

.header__nav li:first-child i {
  color: crimson;
  font-size: 20px;
}

.header__nav li form {
  display: inline-block;
}

.header__nav #search {
  width: 20px;
  overflow: hidden;
  transition: width 0.5s;
  white-space: nowrap;
  transition: all 0.3s;
  cursor: pointer;
}

.header__nav #search i {
  font-size: 20px;
}

.header__nav #search input {
  border-radius: 5px;
  padding: 5px;
  margin: 2px 2px 0 2px;
  outline: none;
}

a.logout-btn {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  line-height: 25px;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 5px 10px;
}

a.logout-btn:hover {
  background-color: crimson;
  border: 2px solid crimson;
}

/* popup-UI */

.overlay {
  display: none;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.popup {
  display: none;
  z-index: 200;
  background-color: rgb(36, 36, 36);
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: ease-in 1s;
  border-radius: 10px;
}

.close-btn {
  color: #fff;
  position: absolute;
  right: 8px;
  top: -50px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 25px;
  z-index: 100;
}

.popup__video {
  background-color: rgb(27, 27, 27);
  height: 350px;
  overflow: hidden;
}

.popup::after {
  clear: both;
  content: "";
  display: block;
}

.popup__defalt {
  position: relative;
}

h3.popup__movieName {
  /* display: inline-block; */
  font-size: 2rem;
  line-height: 6rem;
}

.vote-data {
  margin-right: 20px;
}

.like-btn {
  font-size: 25px;
  cursor: pointer;
}

.liked {
  cursor: pointer;
  color: crimson;
}

.heartPopup {
  display: none;
  opacity: 0;
  z-index: -300;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.heartPopup img {
  max-width: 600px;
}

.popup__defalt .like-btn span {
  font-size: 16px;
}

.open-btn {
  color: #fff;
  position: absolute;
  right: 5px;
  top: 60px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
}

.fa-chevron-down {
  transition: ease-in 0.3s;
}

.active {
  transform: rotate(180deg);
}

.popup__defalt {
  padding: 10px 40px;
}

.popup__open {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
  margin: 0 40px 20px;
}

.popup__open::after {
  clear: both;
  content: "";
  display: block;
}

.popup__open__overviewAll {
  float: left;
  width: 70%;
  padding: 15px 0;
}

h3.popup__open__overviewTag {
  line-height: 5rem;
}

.popup__open__overview {
  padding-bottom: 10px;
}

.popup__open__details {
  float: right;
  width: 25%;
  margin-top: 50px;
}

.top-btn {
  margin: 50px auto;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  width: 200px;
  height: 70px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 2rem;
  /* padding: 15px 20px; */
  text-decoration: none;
  outline: none;
}

.top-btn:hover {
  background-color: crimson;
  border: 2px solid crimson;
}

/* Search */

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#search-bar2 {
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  padding: 10px 50px;
  margin: 50px 10px 80px 60px;
  width: 1000px;
  outline: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.search-btn {
  color: #fff;
  outline: none;
  padding: 15px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #fff;
}

.search-btn:hover {
  background-color: crimson;
  border: 2px solid crimson;
  /* background-color: rgba(129, 129, 129, 0.39); */
  /* color: rgb(39, 186, 245); */
}

.search-btn>span {
  margin-left: 10px;
}

/* main */
.main {
  padding: 0 100px;
}

.main>h1 {
  color: #fff;
  margin: 50px auto;
}

.result {
  margin: 50px auto;
}

.result_movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* space-evenly / flex-start */
  align-items: center;
  align-content: center;
}

.result_movies>li {
  text-align: center;
  width: 18%;
  margin-right: 25px;
  font-size: 15px;
  line-height: 50px;
}

.result_movies>li:last-child {
  margin-right: 0;
}

.result_movies>li:hover {
  transform: scale(1.15);
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.result_movies>li>a {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
}

.result_movies>li img {
  display: block;
  width: 100%;
  max-height: 350px;
}